.service_sides {
    font-size: 17px;
    font-weight: bold;
    height: 30px;
    text-align: justify;
    padding-top: 10px;
}

.callback-form-calc {
    margin-top: 40px;
}

.callback-form-calc .contact-form {
    background-color: #29FF90;
    padding: 60px;
    border-radius: 5px;
    text-align: center;
}

.callback-form-calc .contact-form input {
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0px 15px;
    color: #6a6a6a;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 35px;
}

.callback-form-calc .contact-form input:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.callback-form-calc .contact-form textarea {
    border-radius: 20px;
    height: 120px;
    max-height: 200px;
    min-height: 120px;
    display: inline-block;
    padding: 15px;
    color: #6a6a6a;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 35px;
}

.callback-form-calc .contact-form textarea:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.callback-form-calc .contact-form ::-webkit-input-placeholder {
    /* Edge */
    color: #aaa;
}

.callback-form-calc .contact-form :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #aaa;
}

.callback-form-calc .contact-form ::placeholder {
    color: #aaa;
}

.callback-form-calc .contact-form button.border-button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 28px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
}

.callback-form-calc .contact-form button.border-button:hover {
    background-color: #fff;
    color: black;
}